.documents--container {
  display: flex;
  justify-content: center;
  padding: 1.5em 5em 3em;
  @media screen and (max-width: 830px) {
    flex-flow: column;
  }
  @media screen and (max-width: 630px) {
    padding: 1.5em 1em 3em;
  }
  @media screen and (max-width: 430px) {
    padding: 1.5em 1em 3em 0;
  }
}

.documents--container ul {
  flex: 0 0 35%;
}

.documents--container li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-left: 1.6em;
  margin-bottom: 2em;
}
.documents--container a {
  text-align: center;
  margin-left: 5em;
  @media screen and (max-width: 430px) {
    margin-left: 2em;
  }
}
