// Аренда

.rent {
  margin: 3em 4.5em;
  @media screen and (max-width: 590px) {
    margin: 3em 1em;
  }
}

.rent--main--content {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  @media screen and (max-width: 1038px) {
    flex-flow: column;
  }
}

.rent--main--wrapper {
  flex: 1 0 35%;
}

.rent--main--wrapper p {
  padding-right: 4em;
  margin: 2em 0.5em;
  line-height: 2;
  @media screen and (max-width: 700px) {
    padding-right: 0;
  }
}

.rent--main--card {
  //background-color: #144884;
  background: url('../../images/16804.jpg') center;
  background-size: cover;
  padding: 12em 3em 1em;
  margin: 0.5em;
  * {
    color: white;
  }
  @media screen and (max-width: 1038px) {
    width: 88%;
  }
  @media screen and (max-width: 590px) {
    width: 75%;
  }
  @media screen and (max-width: 450px) {
    width: 65%;
  }
}
