extends layouts/default

block content
  main.about--container
    section.about--header
    section.about--description
      p ООО Ставропольское бюро путешествий «Турист» - одно из старейших туристических предприятий края, история возникновения и становления которого уходит в далёкий 1966 год. Поэтому в основе нашей работы - опыт десятилетий. Индивидуальный подход и отличный сервис – для нас это не просто слова, не важно кто вы: отчаянный экстремал или турист, ценящий, прежде всего комфорт, новичок или заядлый путешественник, любите вы отдыхать «дикарём» или как «белый человек», у нас для всех найдётся самое лучшее предложение, самый выгодный тур, самый интересный маршрут.
    section.about--fullinfo
      .about--fullinfo--program
        .about--fullinfo--leftside__small
        .about--fullinfo--rightside__big
          h3 Туры по Северному Кавказу
          p В основе деятельности нашей фирмы лежит реализация собственных сформированных туров, которые разрабатывает команда профессиональных менеджеров и экскурсоводов. Помимо классических маршрутов с посещением известных и полюбившихся мест, памятников архитектуры и природы, мы откроем для вас возможность окунуться в непознанный мир Северного Кавказа.
      .about--fullinfo--program
        .about--fullinfo--leftside__big
          h3 Школьные туры
          p ООО СБП "Турист" является ведущей компанией в г. Ставрополе по обслуживанию школьных туристских групп. Поэтому для наших маленьких, но очень важных и любимых путешественников мы предлагает широкий спектр программ, которые представляют не только увлекательные экскурсии, но и уроки под открытым небом в помощь не менее любимым учителям.
        .about--fullinfo--rightside__small
      .about--fullinfo--program
        .about--fullinfo--leftside__small
        .about--fullinfo--rightside__big
          h3 Туры по Европе
          p Мы предлагаем огромный перечень различных туров по всем направлениям только от надежных и проверенных временем туроператоров. Многолетнее сотрудничество и долгосрочные контракты со многими из них - залог вашего комфортного и безопасного отдыха!!!
      .about--fullinfo--program
        .about--fullinfo--leftside__big
          h3 Экскурсионные туры по России
          p Для школьных и корпоративных групп, а также для индивидуальных туристов мы предлагаем экскурсионные программы, однодневные, двухдневные и многодневные экскурсии по России, Москве и Подмосковью, туры в Санкт-Петербург, по Золотому кольцу и т.д., а также в Белоруссию, Украину, Крым.
        .about--fullinfo--rightside__small
      .about--fullinfo--program
        .about--fullinfo--leftside__small
        .about--fullinfo--rightside__big
          h3 Пляжный отдых
          p Что может быть увлекательнее путешествия? Пляжный отдых  - это теплое солнце, синее небо, ласковое море, золотые пляжи, хорошее обслуживание и приветливые местные жители... Регионы "пляжного отдыха" манят всех, кому необходимо восстановить свои силы, улучшить свое самочувствие и приятно провести отпуск со своей семьей и друзьями.
      p Общество с ограниченной ответственностью
        br
        | Ставропольское бюро путешествий «Турист» - одно из старейших туристических предприятий края, история возникновения и становления которого уходит в далёкий 1966 год.  СБП «Турист» - предприятие в форме общества с ограниченной ответственностью, зарегистрированное 27 июня 2000 г. и прошедшее перерегистрацию 05 апреля 2006 г. В этом качестве предприятие осуществляет свою деятельность и по сей день, воспринимая реалии современного туристического рынка, но, не позабыв своих давних богатых традиций. ООО СБП «Турист» в своей деятельности всегда строго руководствуется соблюдением требований Законодательства РФ и других нормативных актов, регулирующих туристическую деятельность. Согласно изменениям в законодательстве в области туризма, ООО СБП «Турист» одним из первых в г.Ставрополе вошло в Единый федеральный реестр туроператоров, 26 июня 2007 г. ООО Ставропольское бюро путешествий «Турист» имеет право на осуществление турагентской деятельности по внешнему и внутреннему туризму и туроператорской деятельности по внутреннему туризму на основании Свидетельства о внесении сведений о туроператоре в Единый федеральный реестр туроператоров за №ВНТ 012533 [сайт ФАТ: www.russiatourism.ru] и Договора страхования гражданской ответственности за неисполнение или ненадлежащее исполнение обязательств по договору о реализации туристского продукта.
        br
        | Профилем ООО СБП «Турист» являются:
        br
        | - услуги по организации экскурсий;
        br
        | - внутренний туризм;
        br
        | - международный туризм;
        br
        | - визовая поддержка;
        br
        | - бронирование и продажа мест в гостиницах Ставрополя и России;
        br
        |- особое место занимает детский туризм, как внутренний, так и внешний.
        br
        | По объёму и качеству обслуживания школьных групп СБП «Турист» занимает ведущее место в г. Ставрополе и крае.
        br
        | Менеджеры ООО СБП «Турист» могут разработать любой индивидуальный или групповой туристический маршрут.
      section.about--photo
        .about--photo--content
          .about--photo--card
          .about--photo--card
          .about--photo--card
      .about--certificates--button: a(href='/').button--original Заказать тур
