extends layouts/default

block content
  main.contacts--container
    section.contacts--local
     p.contacts--address г. Ставрополь, ул. 50 лет ВЛКСМ, 16а, N этаж, N офис
     p.contacts--tel 8 (8652) 722-400
     p.contacts--tel 8 (8652) 722-400
     p Электронная почта: stavturist26@mail.ru
    section.contacts--web
      ul
        li: a(href="http://vk.com" target="_blank") Вконтакте
        li: a(href="http://ok.ru" target="_blank") Одноклассники
        li: a(href="http://facebook.com" target="_blank") Facebook
        li: a(href="http://instagram.com" target="_blank") Instagram
    section.contacts--map
      <a class="dg-widget-link" href="http://2gis.ru/stavropol/firm/8022565117238449/center/41.924849,45.015194/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Ставрополя</a><div class="dg-widget-link"><a href="http://2gis.ru/stavropol/center/41.924849,45.015194/zoom/16/routeTab/rsType/bus/to/41.924849,45.015194╎Турист, ООО, бюро путешествий?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Турист, ООО, бюро путешествий</a></div><script charset="utf-8" src="http://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":"100%","height":600,"borderColor":"#ffffff","pos":{"lat":45.015194,"lon":41.924849,"zoom":16},"opt":{"city":"stavropol"},"org":[{"id":"8022565117238449"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
