extends layouts/default

block content
  main.documents--container
    ul.documents--leftside
      li
        p Документ
        a(href='/').button--original Скачать документ
      li
        p Документ
        a(href='/').button--original Скачать документ
      li
        p Документ
        a(href='/').button--original Скачать документ
      li
        p Документ
        a(href='/').button--original Скачать документ
    ul.documents--rightside
      li
        p Документ
        a(href='/').button--original Скачать документ
      li
        p Документ
        a(href='/').button--original Скачать документ
      li
        p Документ
        a(href='/').button--original Скачать документ
      li
        p Документ
        a(href='/').button--original Скачать документ
