extends layouts/default

block content
  main.gallery--container
    section.gallery--all
      .gallery--content
        .gallery--content--card
          h3 Награждение 2012
        .gallery--content--card
          h3 Награждение 2012
        .gallery--content--card
          h3 Награждение 2012
        .gallery--content--card
          h3 Награждение 2012
        .gallery--content--card
          h3 Награждение 2012
        .gallery--content--card
          h3 Награждение 2012
