extends layouts/default

block content
  main.reviews--container
    .reviews--leftside
      .review
        p Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla.
        cite Вазген Васильевич
      .review
        p Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla.
        cite Вазген Васильевич
      .review
        p Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla.
        cite Вазген Васильевич
      .review
        p Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla.
        cite Вазген Васильевич
    .reviews--rightside
      .review
        p Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla. dsfkljsdfkljhasdlkjfhsdakjlfhasdlkjfhsdalkjfhsadlkfjhasdlkjfhasdlkjfhaskljfhaslkjdfhaskdljfhasdk jfsdakjfak jlsfadfs jk adsjkf dajkladfs jkladf klf dsakljkl akl adsf hjkladsfjkl dfajkf dajk afdsj fs adhjkladsfjlasdf ljkflkjsdhflkjasdhfjklashdfkjasdhfkjasdhfkljsdahfkjlsdhfkjsdhfsjkdahfjkhahjejtiisl hdjksfahdlfkjhsdaklfjshdkjfhsdkjfhsdjkfhsjkdfhsjkdhfajldkfhasdkjflsahdfjlkasdhfksajdfhsdakfjlhsadfkjlsadfhlsjkdhdasasdjaskjsadasjkasdhasdasjdasjdaksjd askjhd ajkshd aksjd jasdkjas asjd asd
        cite Вазген Васильевич
        a(href='/') Посмотреть полностью
      .review
        p Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla.
        cite Вазген Васильевич
        a(href='/') Посмотреть полностью
      .review
        p Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla.
        cite Вазген Васильевич
        a(href='/') Посмотреть полностью
      .review
        p Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla iaculis vitae. Donec sagittis faucibus lacus eget blandit. Mauris vitae ultricies metus, at condimentum nulla.
        cite Вазген Васильевич
        a(href='/') Посмотреть полностью
