extends layouts/default

block content
  main.tours--container
    section.tours--all
      .tours--all--header
        //a(href='/').button--original__dropdown.tours--button__marginright Все туры
        //  i.fa.fa-angle-down
        //a(href='/').button--original__dropdown.tours--button__marginright По всему миру
        //  i.fa.fa-angle-down
        input(type="radio" id="all" name="radio" checked)
        label(for="all")
          span
          | Все туры
        input(type="radio" id="world" name="radio")
        label(for="world").tours--radio__marginleft
          span
          | По всему миру
        input(type="radio" id="individual" name="radio")
        label(for="individual").tours--radio__marginleft
          span
          | Индивидуальные туры
        input(type="radio" id="group" name="radio")
        label(for="group").tours--radio__marginleft
          span
          | Школьные / групповые туры
        //a(href='/').button--original.tours--button__floatright Найти тур
      .tours--all--content
        .tours--all--card
          h3 Экскурсия по Ставрополю
          p Индивидуальный / Школьникам / Группой
        .tours--all--card
          h3 Тур по Москве
          p Индивидуальный / Школьникам / Группой
        .tours--all--card
          h3 Тур по Санкт-Петербургу
          p Индивидуальный / Школьникам / Группой
        .tours--all--card
          h3 Тур в Прагу
          p Индивидуальный
        .tours--all--card
          h3 Тур в Рим
          p Индивидуальный
        .tours--all--card
          h3 Тур в Берлин
          p Школьникам / Группой
        .tours--all--card
          h3 Экскурсия по Ставрополю
          p Индивидуальный / Школьникам / Группой
        .tours--all--card
          h3 Тур по Москве
          p Индивидуальный / Школьникам / Группой
        .tours--all--card
          h3 Тур по Санкт-Петербургу
          p Индивидуальный / Школьникам / Группой
        .tours--all--card
          h3 Тур в Прагу
          p Индивидуальный
        .tours--all--card
          h3 Тур в Рим
          p Индивидуальный
        .tours--all--card
          h3 Тур в Берлин
          p Школьникам / Группой
