extends layouts/default

block content
  main.tour--container
    section.tour--header
      h2 Тур в Архыз
      p Индивидуальный / Школьникам / Группой
      br
      br
      p Дата: 00 месяц
      p Продолжительность: 5 дней
      p Цена: от 3 000 рублей / человек
      p Маршрут тура: Пятигорск - Приэльбрусье - Северная Осетия - Кисловодск
      a(href='/').button--inverted.tour--button__margintop Выбрать тур
    section.tour--description
      p Архыз – это не только горный посёлок в Зеленчукском районе Карачаево-Черкесской республики, но и веер неповторимо красивых ущелий, уходящих к снежной гряде Главного Кавказского хребта. Посёлок ничем не примечателен, но местность, где он расположен, действительно достойна этого романтического названия. Издавна Архыз известен прекрасным горным лечебным климатом. Это — пока ещё один из самых чистых уголков мира. Cвежий воздух, богатый кислородом и фитонцидами из горных лесов, 300 солнечных дней в году, кристально чистая вода горных источников и практически полное отсутствие ветра.
    section.tour--photo
      .tour--photo--content
        .tour--photo--card
        .tour--photo--card
        .tour--photo--card
        .tour--photo--card
        .tour--photo--card
        .tour--photo--card
    section.tour--fullinfo
      h3 Программа тура:
      .tour--fullinfo--program
        .tour--fullinfo--leftsize
          p 1-й день
        .tour--fullinfo--rightside
          p Отправление в 06:00 на комфортабельном  автобусе  туристского  класса.   Путевая экскурсионная  программа «Ставрополь-Архыз». Пешеходная экскурсия на Казачий водопад и «Спящее озеро» в заповедном Кизгычском ущелье. Размещение в гостинице в пос. Романтик. Подъем по канатной дороге на хребет Абишира-Ахупа. Посещение смотровых панорамных площадок. Возвращение в гостиницу. Свободное время.
      .tour--fullinfo--program
        .tour--fullinfo--leftsize
          p 2-й день
        .tour--fullinfo--rightside
          p Подъём. Сдача номеров. Переезд в п. Нижний Архыз. Путевая экскурсионная   информация. Пешеходная   экскурсия   по   средневековому аланскому городищу «Маас» с храмовым комплексом IX – XI вв. Подъём к  «Архызскому Лику» (наскальная икона, ок. X в.). Свободное время. Возможна организация обеда с национальными блюдами. Отправление обратно в 16:30.  Ориентировочное прибытие в город – около 21:30.
      p Ориентировочное  прибытие  в г.Ставрополь – 20:00 – 21:00.
      h3 Проживание:
      p Гостиничный комплекс «Романтик-2» 3 * 2-х местные номера со всеми удобствами.
      p Гостиница расположена в пос. Романтик. В каждом номере: кровать 160х200, прикроватные тумбы, шкаф-купе, телевизор, фен, холодильник, санузел, оснащенный душевой кабиной, комплектом полотенец, набором косметических принадлежностей.
      h3 В стоимость входит:
      p Транспортное обслуживание комфортабельным  автобусом, проживание, завтрак, услуги экскурсовода, страховка.
      h3 Дополнительно оплачивается:
      p Входные билеты: экологический сбор по пути к водопаду – 100 руб./чел. подъем по канатной дороге 700 взр./350 дет.,  городище «Маас» - 100руб./чел; питание.
      h3 Необходимые документы школьникам:
      p Документ №1
      p Документ №2
      h2 Стоимость: от 3 000 рублей / человек
      a(href='/').button--original Заказать тур
