footer.footer--container
  ul.footer--blocks
    ul.footer--block
      li: h3 Туры и экскурсии
      li: a(href='/tours.html') Все туры
      li: a(href='/tours.html') Горящие туры
      li: a(href='/tours.html') Популярные туры
    ul.footer--block
      li: h3 Информация
      li: a(href='/rent.html') Аренда транспорта
      li: a(href='/gallery.html') Фотогалерея
      li: a(href='/reviews.html') Отзывы
      li: a(href='/contacts.html') Контакты
      li: a(href='/documents.html') Для агентов
    ul.footer--block
      li: h3 Контакты
      li г. Ставрополь, ул. 50 лет ВЛКСМ,
      li 16а, N этаж, N офис
      br
      br
      li: a(href='mailto:turist_buro105@mail.ru?subject=Сообщение с сайта Бюро Турист') turist_buro105@mail.ru
      li 8 (8652) 722-400
    ul.footer--block
      li: h3 Социальные сети
      li: a(href='http://vk.com') Вконтакте
      li: a(href='http://ok.ru') Одноклассники
      li: a(href='http://facebook.com') Facebook
      li: a(href='http://instagram.com') Instagram
