header.header--container
  a(href='/').header--logo
    include ../images/tourist-logo.svg
  div.header--aside
    div.header--contacts
      div.header--contacts-left
        p г. Ставрополь, ул. 50 лет ВЛКСМ, 16а, 3 этаж, 303 офис
        p 8 (8652) 722-400 8 (8652) 722-400
      div.header--contacts-right
        p г. Ставрополь, ул. Мемоз 24, 2 этаж
        p 8 (8652) 722-400 8 (8652) 722-400
    ul.header--nav
      li: a(href='/tours.html') Туры
      li: a(href='/reviews.html') Отзывы
      li: a(href='/contacts.html') Контакты
      li: a(href='/gallery.html') Фотогалерея
      li: a(href='/documents.html') Для агентов
      li: a(href='/rent.html') Аренда транспорта
      li: a(href='/about.html') О нас
